body {
  background-color: #0495bd;
}

.container {
  width: 340px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 13px;
  border: 2px solid #5e4b4b;
}

ul {
  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  
  border-bottom: 3px solid #ccc;
  padding: 10px;
}

li.completed {
  border: #b8db0b;
  text-decoration: line-through;
}
#anas{
  background-image: url('https://media.licdn.com/dms/image/D4D03AQFXEAvz3gu9jQ/profile-displayphoto-shrink_800_800/0/1685157581559?e=2147483647&v=beta&t=-8Coi0QnLOysCJfaux2XgwRlOvNqlyGJtHBmjL1Gp6E');
}
